<aside>
  <nav>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="moulo">
          <i class="fa fa-pencil"></i>
          modulo 1:home</a>
      </li>
      <li>
        <a  routerLink="moulo">
          <i class="fa fa-pencil"></i>
          modulo 2:Componnets</a>
        <ul>
          <li>
              <a  routerLink="moulo">
                <i class="fa fa-pencil"></i>
                Componnets:someone</a>
          </li>
          <li>
              <a  routerLink="moulo">
                <i class="fa fa-pencil"></i>
                Componnets:someone</a>
          </li>
          <li>
              <a  routerLink="moulo">
                <i class="fa fa-pencil"></i>
                Componnets:someone</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="moulo">
          <i class="fa fa-pencil"></i>
          modulo 3:Charts</a>
      </li>
    </ul>
  </nav>
</aside>