.bg-content{
        border-top: 3px solid #eee;
        background:#343434 url("../img/background/back.png") repeat;  
        -webkit-font-smoothing: antialiased;

}
#logo {
        margin-top: 10px
    }
#logo img {
width: 127px
}
#header {
        padding-right: 15px;
        background-image: none;
        background-color: #22262e;
    }
    #logo-group {
        background: #22262e!important
    }
    
    #logo-group span#activity {
        background: #0d0f12;
        border: 1px solid #0d0f12;
        color: #fff;
        cursor: pointer
    }
    aside, .page-footer{
        background: #1b1e24
    }
    
 nav ul ul li>a {
    text-shadow: 0 1px 1px #000;
    font-size: 13px;
    padding-left: 43px;
    color: #e1eaf1;
    display: block;
    font-weight: 300;
    padding-top: 6px!important;
    padding-bottom: 6px!important;
    overflow: hidden
}

 nav ul ul li>a:hover {
    background: #1b1e24!important
}

 nav ul ul ul li a {
    padding: 8px 17px 8px 54px!important
}

 nav ul ul ul ul li a {
    padding-left: 72px!important
}

 nav ul ul ul ul ul li a {
    padding-left: 90px!important
}

 nav ul ul ul ul ul ul li a {
    padding-left: 108px!important
}

 nav ul li a:active {
    background: 0 0
}

 nav ul li a:hover {
    color: #E1EAF1
}

 nav ul li a {
    padding: 12px 17px 12px 16px
}

 nav>ul>li>a>i {
    font-size: 17px;
    vertical-align: 0
}

 nav>ul>li>a b {
    right: 17px;
    top: 12px
}

 nav>ul>li>a>i:after {
    border: 1px solid #fff
}

 nav>ul>li>a:hover i {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    animation-name: none
}

aside {
    background: #14161B
}

 aside {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    border-bottom: 1px solid #222;
    border-top: 1px solid #333
}
.container2{
    margin: 0%;
    padding: 0px 20px;
}
.page-footer{
    padding: 0px 0px;}
    #navRoot{
        padding: 0%
    }